
# compiled python
**/*.py[cod]
**/__pycache__

# virtual environment
**/.venv
# requirements
**/*.in
**/requirements-dev.txt

# environment variables
**/.env
**/.env.example

# git
**/.git
**/.gitignore

# docker
**/Dockerfile*
**/.dockerignore
**/docker-compose*
**/compose.y*ml
